*{
  box-sizing: border-box;
}

.cover {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center;
  background-size: cover;
  background-position: 70% 0%;
  height: 100vh;
  width: 100vw;
  display: table;
}

.wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.background {
  background-color: rgba(0,0,0,.5);
  text-align: center;
}

.cover .tagline {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: .5rem 0;
  letter-spacing: .25rem;
}

.cover .headline {
  text-align: center;
  font-size: 3rem;
  display: inline-block;
  margin: 0 auto;
  padding: 1.25rem 0 .4rem;
  border-top: 1px solid rgba(255,255,255,.8);
  font-family: 'Great Vibes', sans-serif;
  color: #d2ba87;
}

.cover .date {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: .15rem;
  font-family: 'Libre Baskerville';
}

.locations {
  padding: 3rem;
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.content-header {
  font-family: 'Great Vibes', sans;
  font-size: 3rem;
}

.location {
  
}

.location::after {
  content: "";
  clear:both;
  height: .25rem;
  display: block;
  width: 10rem;
  background-color: rgba(0,0,0,.8);
  margin: 2rem auto;
}