*{
  box-sizing: border-box;
  overflow-x: hidden;
}


a{
  color: #bd806e;
  transition: color .25s ease-in-out;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

small {
  font-size: .8rem;
  font-weight: 100;
}

.cover {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center;
  background-size: cover;
  background-position: 70% 0%;
  height: 100vh;
  width: 100vw;
  display: table;
}

.wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.background {
  background-color: rgba(0,0,0,.5);
  text-align: center;
}

.cover .tagline {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: .5rem 0;
  letter-spacing: .25rem;
}

.cover .headline {
  text-align: center;
  font-size: 3rem;
  display: inline-block;
  padding: 1.25rem 0 .4rem;
  border-top: 1px solid rgba(255,255,255,.8);
  font-family: 'Great Vibes', sans-serif;
  color: #d2ba87;
}

.cover .date {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: .15rem;
  font-family: 'Libre Baskerville';
}

.content-part {
  padding: 2rem 0;
  width: 100vw;
  text-align: center;
  display: block;
}


.content-header {
  font-family: 'Great Vibes', serif;
  font-size: 3rem;
  padding: .4rem 0 1.25rem;
}

.locations {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat;
}

.programs {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  font-family: Muli, serif;  
}

.programs p {
  font-style: italic;
  font-size: 1.125rem;
  text-align: left;
  padding: 1.5rem 0 2rem 1.5rem;
}

.program-list {
  text-align: left;
  font-size: 1.125rem;
  padding-left: 1.5rem;
  line-height: 1.8rem;
}

.gifts {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat;
  font-family: Muli, serif;
}

.gifts img {
  width: 120px;
  padding: 2rem 0;
}

.gifts p {
  width: 80vw;
  overflow-y: hidden;
  font-size: 1.25rem;
  margin: 0 auto;
}

.qna {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  font-family: 'Libre Baskerville', serif;
}

.question-part .sub-head {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding:  1rem 0;
  
}

.question-part .question {
  text-align: left;
  font-family: Muli, serif;
  letter-spacing: 0.125rem;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 1rem .2rem 1rem 1rem;
}

.question-part .answer {
  text-align: left;
  font-family: Muli, serif;
  letter-spacing: 0.125rem;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0 1rem 1rem;
}

.question-part a:hover{
  color: #eda087;
}

.question-part::after {
  content: "";
  background: #d2ba87;
  display: block;
  width: 15rem;
  height: .15rem;
  margin: 2rem auto 0;
}

.contact {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat;
  font-family: 'Libre Baskerville', serif;
}

.contact p {
  width: 80vw;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 1rem auto;
}


.location-name {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0 1.25rem;
}

.location-img {
  width: 120px;
}

.location-details {
  font-family: Muli, serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 2rem 0 .25rem;
}

.location::after {
  content: "";
  clear:both;
  height: .15rem;
  display: block;
  width: 7.5rem;
  background-color: rgba(0,0,0,.8);
  margin: 2rem auto;
}

footer {
  background: hsla(100,0%,0%,.6);
  font-family: 'Libre Baskerville', serif;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  color: #fff;
  overflow-y: hidden;
}